body {
    background-color: white;
    padding: 10px;
  }
  
  p {
    text-align: left;
    margin: 0;
  }
  
  a:link, a:visited {
    color: orange;
  }
  
  a:hover, a:active {
    color: crimson;
  }
  