#wordsmith-extension-widget {
    background-color: white;
    padding: 10px;
    filter: drop-shadow(0 0 10px black);
    color: black;
    max-width: 50%;
}

#wordsmith-extension-widget p {
    text-align: left;
    margin: 0;
}

#wordsmith-extension-widget a:link,
#wordsmith-extension-widget a:visited {
    color: orange;
}

#wordsmith-extension-widget a:hover,
#wordsmith-extension-widget a:active {
    color: crimson;
}

#wordsmith-extension-widget ol li {
    list-style: inside decimal;
}

#wordsmith-extension-widget ul li {
    list-style: inside disc;
}